<head>
  <link rel="stylesheet" href="sinatra_blog_css.css"/>
</head>

<h1>Home</h1>
<h2><a href='/'>Home</a>
    <a href='/about_me'>About Me</a>
    <a href='/hometown'>My Hometown</a>
    <a href="/my_blog">My Blog</a></h2>

<h1>June 7, 2016</h1>

<div class = 'container'>
  <p><%=@date%></p>
  <p><%=@timestamp%></p>
    <div class = 'body'>
    <h2></h2>
    'Today I learned about erb and teamwork from Jessica Cole, Code for America Fellow.'
  </div>
</div>
