<head>
  <link rel="stylesheet" href="sinatra_blog_css.css"/>
</head>

<div class="home_container">
<div class="title">
  <h1>Home</h1>
</div>

<div class="navigation_links">
  <h3><a href='/about_me'>About Me</a>
      <a href='/hometown'>My Hometown</a>
      <a href="/my_blog">My Blog</a></h3>
</div>

<div class="icon">
  <image src= "<%= @img %>">
</div>
</div>
